.slick-list { 
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  background: yellow;
}


.slick-dots {
  bottom: 20px;
  /* margin-top: 200px; */
}

/* .slick-track {
  width: 100%;
} */

/* 이미지 크기 조정 */
img {
  margin: 0 auto;
  width: 30%;
  height: 30%;
}