{% extends 'base.html' %}

{% block content %}
  <h1> 오늘 저녁은 {{ pick }}! </h1>
  <p> {{ pick }}은 {{ pick|length }}글자 </p>

  <p>메뉴판</p>
  <ul>
    {% for food in foods %}
      <li>{{ food }}</li>
    {% endfor %}
  </ul>
{% endblock %}

{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1> 오늘 저녁은 {{ pick }}! </h1>
  <p> {{ pick }}은 {{ pick|length }}글자 </p>

  <p>메뉴판</p>
  <ul>
    {% for food in foods %}
      <li>{{ food }}</li>
    {% endfor %}
  </ul>
  <a href="/index/"> 뒤로 </a>
</body>
</html> {% endcomment %}