{% extends 'base.html' %}

{% block content %}
  <form action="{% url 'movies:create' %}" method="POST">
    {% csrf_token %}
    <label for="title">Title:</label>
    <input type="text" id="title" name="title">
    <label for="overview">overview:</label>
    <textarea id="overview" name="overview" cols='50' row='30'></textarea>
    <label for="poster_path">path:</label>
    <input type="text" id="poster_path" name="poster_path">
    <input type="submit" value="제출">
  </form>
{% endblock content %}

